{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>New Mission</h1>
    </div>

    <form method="POST">
        <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="What is your mission?" required>
        </div>
        <div class="form-group">
            <textarea name="description" class="form-control" rows="3" placeholder="Any further words?"></textarea>
        </div>
        <div class="form-group">
            <select class="form-control" name="tag_id">
                <option value="-1">Select a color</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create it!</button>
    </form>

</div>
{% endblock %}
